body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.coluna {
    width: 45%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007BFF;
}

.lista, .lista-beneficios {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}

.lista-beneficios {
    list-style-type: square;
}

.beneficios {
    background-color: #e9ecef;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.botao-inscricao {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.botao-inscricao:hover {
    background-color: #218838;
}
