.externa {
    display: inline-block;
    background-color: lightcoral;
    border-radius: 10px;
    padding: 10px;
}

#aovivo {
    background-color: chocolate;
    margin: 10px;
    padding: 10px;
    color: white;

}


